*.svn
*.git

# Class file
*.class

# Log file
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JRebel
*rebel.xml
*rebel-remote.xml
*nb_jr_remoting.cfg

# MAVEN
classes/
target/

# Eclipse
*.settings
*.classpath
*.project

# IDEA
*.idea
*.iml
